/*
CSS FOR AUDITION-FORM PAGE
*/


/* Setting default font for entire page */
* {
  font-family: verdana, sans-serif;
}


/* Navbar Attributes */
.navbar {
  color: black;
}
.nav-item {
  font-size: x-large !important;
  padding-left: 10px;
}
#navbar-container {
  background-color: black;
}

/* Header Attributes */
header {
  background-color: black;
  padding: 10px;
  color: white;
}
h1 {
  text-align: center;
  padding-top: 5px;
}


/* Container Attributes */
.container{
  background-color: lightgray;
  padding-bottom: 2%;
  max-width: fit-content;
}

/* Column Attributes */
.col-sm,.col-sm-8, .col-sm-4, .col, .col-sm-6 {
  padding-top: 15px;
}

/* Paragraphs & Labels */
label {
  padding-bottom: 5px;
}
p {
  font-size: large;
  padding: 10px;
}

