/*

The following CSS Styling is uniform across all pages, and so has been collected here to avoid repetition.
It acts as a 'base' set of styling for the website.

 */


/* Setting default font for entire page */
* {
  font-family: verdana, sans-serif;
}


/* Navbar Attributes */
.navbar {
  color: black;
}
.nav-item {
  font-size: x-large !important;
  padding-left: 10px;
}
#navbar-container {
  background-color: black;
}


/* Header Attributes */
h1 {
  text-align: center;
  padding: 3%
}


/* Container Attributes */
.container {
  background-color: lightgray;
  padding-top: 2%;
  padding-bottom: 4%;
}


/* Row Attributes */
.row {
  display: flex;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}


/* Column Attributes */
.col-lg {
  padding: 2%;
  background-color: lightgray;
}


/* Paragraph Attributes */
p {
  font-size: large;
  padding: 10px;
}


/* Text used for captions underneath the photos */
.text-center {
  color: #555555;
  font-size: smaller;
}

